# Data processing & ML
pandas
numpy
scikit-learn

# Model and tuning
xgboost
optuna

# Preprocessing & Interpretability
shap

# Web application
streamlit

# Optional but recommended
matplotlib
seaborn
